{% extends 'layout.html.twig' %}

{% block content %}
<h1>About</h1>
<p>This is a demo application powered by Simplex, simple PHP micro-framework built on the shoulders of Symfony2 and Silex.</p>
<p>The main idea is to simplify creation of small websites.</p>
<p>Features:</p>
<ul>
    <li>Two step view</li>
    <li>Template inheritance</li>
    <li>SEO friendly urls</li>
    <li>Automated menu generation</li>
    <li>Simplified page creation</li>
    <li>...</li>
</ul>
{% endblock %}
