{% extends 'layout.html.twig' %}

{% block content %}
<h1>About</h1>
<p>This is a demo application powered by Simplex, simple PHP microframework built on the shoulders of Silex and Symfony2.</p>
{% endblock %}
