{% extends 'layout.html.twig' %}

{% block content %}
<h1>Develpment</h1>
<p>Simplex was orignally created by <a href="http://umpirsky.com/">Saša Stamenković</a>. All contributions, ideas and suggestions are welcome. The official Git repository is at <a href="https://github.com/umpirsky/Simplex-Website">github.com</a>. If you find a bug, you can <a href="https://github.com/umpirsky/Simplex-Website/issues/new">create a ticket</a>.</p>
{% endblock %}
