{% extends 'layout.html.twig' %}

{% block content %}
<h1>Develpment</h1>
<p>Simplex was orignally created by <a href="http://umpirsky.com/" target="_blank">Saša Stamenković</a>.</p>
<p>All contributions, ideas and suggestions are welcome.</p>
<p>The official Git repository is at <a href="https://github.com/umpirsky/Simplex-Demo" target="_blank">github.com</a>. If you find a bug, you can <a href="https://github.com/umpirsky/Simplex-Demo/issues/new" target="_blank">create a ticket</a>.</p>
{% endblock %}
