{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Download</h2>
    <p>There are two ways to get demo application.</p>
    <h3>Git</h3>
    <p>Clone repository from <a href="https://github.com/umpirsky/Simplex-Demo">github.com</a>:</p>
    <p><code>git clone --recursive git@github.com:umpirsky/Simplex-Demo.git</code></p>
    <h3>Direct Download</h3>
    <p><a class="btn" href="{{ app.url_generator.generate('download') }}"><i class="icon-download-alt"></i> Download</a></p>
{% endblock %}
