{% extends 'layout.html.twig' %}

{% block content %}
    <div class="hero-unit">
        <h1>Simplex</h1>
        <p>This is a demo application powered by Simplex, simple PHP micro-framework built on the shoulders of Symfony2 and Silex.</p>
        <p><a href="{{ app.url_generator.generate('documentation') }}" class="btn btn-primary btn-large"><i class="icon-book icon-white"></i> Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="span4">
            <h2>Quick Start</h2>
            <p>The goal of this demo is to get you started quickly. Buld websites easier, better, and faster. Simplex is built for developers, designers and business owners. No development skills are required. Just get the source and start adding pages.</p>
            <p><a class="btn" href="{{ app.url_generator.generate('documentation') }}"><i class="icon-book"></i> Learn more &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Development</h2>
            <p>Simplex was orignally created by <a href="http://umpirsky.com/" target="_blank">Saša Stamenković</a>. All contributions, ideas and suggestions are welcome. The official Git repository is at <a href="https://github.com/umpirsky/Simplex" target="_blank">github.com</a>. If you find a bug, you can <a href="https://github.com/umpirsky/Simplex/issues/new" target="_blank">create a ticket</a>.</p>
            <p><a class="btn" href="https://github.com/umpirsky/Simplex" target="_blank"><i class="icon-user"></i> Get involved &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Download</h2>
            <p>There are two ways to get demo application. Clone repository from <a href="https://github.com/umpirsky/Simplex-Demo" target="_blank">github.com</a>, just make sure to pull all submodules too. If you are not into git, just get the <a href="https://github.com/downloads/umpirsky/Simplex-Demo/v1.0.tar.gz">tarball</a>. Please find installation instructions on <a href="{{ app.url_generator.generate('documentation') }}">documantation</a> page.</p>
            <p><a class="btn" href="{{ app.url_generator.generate('download') }}"><i class="icon-download-alt"></i> Download now</a></p>
        </div>
    </div>
{% endblock %}
