<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Simlpex{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{% block description %}Simlpex demo application.{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}Simplex{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Саша Стаменковић <umpirsky@gmail.com>">
        {% block stylesheets %}
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        {% endblock %}
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                     <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ app.url_generator.generate('home') }}">Simlpex</a>
                    <div class="nav-collapse">
                        {{ knp_menu_render('main') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
            <hr>
            <footer>
                <p>Powered by <a href="https://github.com/umpirsky/Simplex">Simplex</a>.</p>
            </footer>
        </div>
        {% block javascripts %}
        <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
